PORT=5000
SUPABASE_URL=https://ccdrahlnsfrncsqaiumt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjZHJhaGxuc2ZybmNzcWFpdW10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMDEzMDAsImV4cCI6MjEwMzU3NzMwMH0.O3sAoWJuLWKeJCenkiUjen3FfLnNahUu7nKbpQ1t6Fo
OLLAMA_API_KEY=b74c652d554f43c7a84fbc4b4eefc351.0qPsbvIqO1c7xzy3KL4E9ALv
OLLAMA_BASE_URL=https://api.ollama.com/v1
IGOT_BASE_URL=http://localhost:5000/api/mock/igot
IGOT_API_KEY=sandbox_test_token_12345
